{% extends '::base.html.twig' %}
 
{% block body %}
    
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Editar!{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <div class="paa">
                
            <form class="form-signin" role="form" action="{{path('clima_usuarios_editar',{'id': arUsuario.id}) }}" method="post">
                <h2 class="form-signin-heading">Editar</h2>                
                <input type="email" class="form-control" placeholder="Usuario" id="username" name="TxtUsuario" value="{{arUsuario.username}}" required autofocus>
                <input type="password" class="form-control" placeholder="Contraseña" id="password" name="TxtPassword" value="{{arUsuario.password}}" required>                
                
                <input type="text" class="form-control" placeholder="Nombre Corto" id="nombrecorto" name="TxtNombreCorto" value="{{arUsuario.nombreCorto}}" required/><br/>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>                          
                <a class="btn btn-lg btn-primary btn-block" href="{{ path('clima_usuarios_listar') }}">Volver</a>
                <center>       
            </form>
                
        </div>
        </div>
    </body>
</html>
{% endblock %}